<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!--Navigation Bar-->
    <%- include('../partials/admin/navigation-bar.ejs'); %>
  
      <!--Body-->
      <div class="main">
        <!-- Side Bar -->
        <%- include('../partials/admin/sidebar-links.ejs'); %>
  
        <!-- Logout Confirmation Modal -->
        <div id="logout-modal" class="logout-modal">
          <div class="logout-content">
            <p>Are you sure you want to log out?</p>
            <div class="logout-button-group">
              <button id="confirm-logout" class="yes-btn">Yes</button>
              <button id="cancel-logout" class="no-btn">No</button>
            </div>
          </div>
        </div>
  
        <!-- Main Content -->
         <div class="content">
          <div class="header">
            <h1>Listing Management</h1>
            <div class="search-bar">
                <input type="text" placeholder="Looking for...">
            </div>
          </div>
  
            <!--Tab Headings-->
          <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'PendingPosts')">
              Pending Posts
            </button>
            <button class="tablinks" onclick="openTab(event, 'AllListings')">
              All Listings
            </button>
            <button class="tablinks" onclick="openTab(event, 'DeclinedRequests')">
              Declined Requests
            </button>
            <button class="tablinks" onclick="openTab(event, 'UpdateRequests')">
              Update Requests
            </button>
  
            <!--Tab Content-->
  
            <!--User List-->
            <div id="PendingPosts" class="tab-content">
              <div class="user-table">
                <table>
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First Name M. Last Name</td>
                            <td>Item Name</td>
                            <td>Category</td>
                            <td>
                              <a href="/admin-viewprod">
                              <i class="fa-solid fa-eye"></i>
                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
  
            <!--All Listings-->
            <div id="AllListings" class="tab-content" style="display: none">
              <div class="user-table">
                  <table>
                      <thead>
                          <tr>
                              <th>Owner</th>
                              <th>Item Name</th>
                              <th>Category</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>First Name M. Last Name</td>
                              <td>Item Name</td>
                              <td>Category</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
            </div>
  
            <!--Declined-->
            <div id="DeclinedRequests" class="tab-content" style="display: none">
              <div class="user-table">
                  <table>
                      <thead>
                          <tr>
                              <th>Owner</th>
                              <th>Item Name</th>
                              <th>Category</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>First Name M. Last Name</td>
                              <td>Item Name</td>
                              <td>Category</td>
                          </tr>
                      </tbody>
                  </table>
            </div>
          </div>

          <!--Update-->
          <div id="UpdateRequests" class="tab-content" style="display: none">
            <div class="user-table">
              <table>
                <thead>
                    <tr>
                        <th>Owner</th>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name M. Last Name</td>
                        <td>Item Name</td>
                        <td>Category</td>
                        <td>
                          <a href="/admin-viewprod">
                          <i class="fa-solid fa-eye"></i>
                          
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>

        </div>
      </div>
  
    <script src="/js/admin.js"></script>