<!-- Side Bar -->
<div class="sidebar">
    <ul>
      <li><a href="/dashboard/admin">Admin Dashboard</a></li>
      <li><a href="/dashboard/manage-users">Manage User</a></li>
      <li><a href="/dashboard/manage-listings" class="active">Manage Listings</a></li>
      <li><a href="/dashboard/transactions">Transaction</a></li>
      <li><a href="/login" id="logout">Log Out</a></li>
    </ul>
  </div>