<nav>
    <a href="/">
        <div class="logo">
            <h1>Rental<span>Hub</span></h1>
        </div>
    </a>
    <ul>
        <li><a href="/shopping/events-and-parties">Shop</a></li>
        <li>
            <a href="/dashboard/listing"
            ><img src="/images/WhiteAdd.png" class="add-icon"
                /></a>
        </li>
        <li>
            <% if (isAuthenticated && role == 'admin') { %>
                <a href='/admin/dashboard'>
                    <img src="/images/Icon1.png" alt="Profile" class="profile-icon" />
                </a>
            <% } else if (isAuthenticated && role == 'user') { %>
                <a href='/dashboard/profile'>
                    <img src="/images/Icon1.png" alt="Profile" class="profile-icon" />
                </a>
            <% } else { %>
                <a href="/login">
                    <img src="/images/Icon1.png" alt="Profile" class="profile-icon" />
                </a>
            <% } %>
        </li>
    </ul>
</nav>
