<div class="sidebar">
    <ul>
        <li><a href="/dashboard/user-dashboard" class="active">Dashboard</a></li>
        <li><a href="/dashboard/profile">Profile</a></li>
        <li><a href="/dashboard/rents">My Rents</a></li>
        <li><a href="/dashboard/my-listing">My Listings</a></li>
        <li><a href="/dashboard/archives">Archives</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</div>
