<link rel="stylesheet" href="/css/archives.css"/>

<!--Navigation Bar-->
<%- include('../partials/header-navbar.ejs'); %>

<div class="main">
    <!--Sidebar-->
    <%- include('../partials/sidebar.ejs'); %>

    <!--Main Content-->
    <div class="content">
        <div class="profile-header">
            <img
                    src="/images/profile-placeholder.png"
                    alt="Profile Picture"
                    class="profile-img"
            />
            <h2 class="profile-name">Name ni User</h2>
        </div>
        <form class="profile-form">
            <!-- HIndi to dapat input, dapat call nya yung galing sa create acc saka set up profile. -->
            <input type="text" placeholder="Email"/>
            <input type="text" placeholder="Address"/>
            <input type="text" placeholder="Contact #"/>
            <input type="text" placeholder="Social Media"/>

        </form>
    </div>
</div>