<link rel="stylesheet" href="/css/archives.css" />

<!--Navigation Bar-->
<nav>
    <a href="/">
      <div class="logo">
        <h1>Rental<span>Hub</span></h1>
      </div>
    </a>
    <ul>
      <li><a href="/shopping/events-and-parties">Shop</a></li>
      <li>
        <a href="/listing"
          ><img src="/images/WhiteAdd.png" class="add-icon"
        /></a>
      </li>
      <li>
        <a href="/">
          <img
            src="/images/Icon1.png"
            alt="Profile"
            class="profile-icon"
          />
        </a>
      </li>
    </ul>
  </nav>

  <div class="main">
    <!--Sidebar-->
    <%- include('../partials/sidebar.ejs'); %>

    <!--Main Content-->
    <div class="content">
        <div class="profile-header">
          <img
            src="/images/profile-placeholder.png"
            alt="Profile Picture"
            class="profile-img"
          />
          <h2 class="profile-name">Name ni User</h2>
        </div> 
        <form class="profile-form">
          <!-- HIndi to dapat input, dapat call nya yung galing sa create acc saka set up profile. -->
          <input type="text" placeholder="Email" />
          <input type="text" placeholder="Address" />
          <input type="text" placeholder="Contact #" />
          <input type="text" placeholder="Social Media" />

        </form>
      </div>
    </div>
  </div>