<link rel="stylesheet" href="/css/admin.css" />

    <!-- Logo -->
    <nav class="navbar">
      <a href="/" class="logo">
        <span class="rental">Rental</span><span class="hub">Hub</span>
      </a>
    </nav>

    <!--Body-->
    <div class="main">
      <!-- Side Bar -->
      <div class="sidebar">
        <ul>
            <li><a href="/admin-dashboard">Admin Dashboard</a></li>
            <li><a href="/manage-users">Manage User</a></li>
            <li><a href="/manage-listigns" class="active">Manage Listings</a></li>
            <li><a href="/transactions">Transaction</a></li>
            <li><a href="/login" id="logout">Log Out</a></li>
            </ul>
        </ul>
      </div>

      <!-- Logout Confirmation Modal -->
      <div id="logout-modal" class="logout-modal">
        <div class="logout-content">
          <p>Are you sure you want to log out?</p>
          <div class="logout-button-group">
            <button id="confirm-logout" class="yes-btn">Yes</button>
            <button id="cancel-logout" class="no-btn">No</button>
          </div>
        </div>
      </div>      

      <!-- Main Content -->
      <div class="content">
      <div class="transaction-container">
        <div class="header">
          <h2>Transactions</h2>
          <div class="search-bar">
              <input type="text" placeholder="Looking for...">
          </div>
        </div>
        <table class="transaction-table">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Item Name</th>
              <th>Renter</th>
              <th>Owner</th>
              <th>Rental Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
            <tr>
              <td>TI-000001</td>
              <td>Laptop ni Brian</td>
              <td>email@gmail.com</td>
              <td>email@gmail.com</td>
              <td>Feb 1 - 14, 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/js/admin.js"></script>

