<!-- CSS -->
<link rel="stylesheet" href="/css/login.css">

<!-- Body -->
<nav class="navbar">
    <a href="/" class="logo">
        <span class="rental">Rental</span><span class="hub">Hub</span>
    </a>
</nav>

<div class="container">
    <h2>
        Welcome to <span class="brand">Rental<span class="highlight">Hub</span></span>
    </h2>

    <input type="email" name="email" placeholder="Email" required>

    <div class="password-box">
        <input type="password" name="password" id="login-password" oncopy="return false" onpaste="return false"  placeholder="Password" required>
        <span class="toggle-password" onclick="togglePassword('login-password')"></span>
    </div>

    <button id="login-button" class="btn primary">LOG IN</button>

    <p class="text1">Don't Have an Account?</p>
    <p class="text2">Enjoy added benefits and a richer experience by creating a personal account.</p>
    <a href="/signup" class="btn secondary">CREATE ACCOUNT</a>
</div>

<!-- Custom Scripts -->
<script src="/js/auth-script.js"></script>