<link rel="stylesheet" href="/css/meet-the-team.css"/>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap"
        rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

<section class="team-section">
    <div class="back-button">
        <a href="/">
          <span>⮜</span>
          <p>Go back to Home</p>
        </a>
      </div>
    <div class="container">
        <div class="section-title">
            <h2>Meet Our Team</h2>
            <p class="header-text">
                Get to know the brilliant minds behind RentalHub. We're a passionate
                group of developers, designers, and visionaries committed to
                transforming your rental experience.
            </p>
        </div>

        <div class="team-grid">
            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Laguna.png" Julius Laguna" style=" object-position:
                    center top;" />
                </div>
                <div class="member-info">
                    <h3 class="name">Julius Laguna</h3>
                    <span class="role">Back-End Developer</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/lagunayus"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=laguna.julius.romana@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com/codeut182"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Verdan.jpg" alt="Roland Verdan"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Roland Verdan</h3>
                    <span class="role">Project Manager</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/archlie.dasperi"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://google.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Dijamco.jpg" alt="Brian Dijamco"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Brian Dijamco</h3>
                    <span class="role">Front-End Developer</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/yourdemise1/"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=dijamco.brian.anbernica@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com/Lokibot1"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Bondilles.jpg" alt="John Andrei Bondilles"/>
                </div>
                <div class="member-info">
                    <h3 class="name">John Andrei Bondilles</h3>
                    <span class="role">Front-End Developer</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/andreijohn.bondilles"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="
                  https://mail.google.com/mail/?view=cm&fs=1&to=maryjane.sermona@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Salgado.JPG" alt="Julia Salgado"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Julia Salgado</h3>
                    <span class="role">UI Designer</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/profile.php?id=61550062748196"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=salgado.julia.hernandez@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com/jsjs2324"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Pedillaga.jfif" alt="Sarah Pedillaga"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Sarah Pedillaga</h3>
                    <span class="role">Lead Documentation</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/sarah.pedillaga.2024"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=pedillaga.sarah.sunio@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Sebastian.jpg" alt="Dan Matthew Sebastian"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Dan Matthew Sebastian</h3>
                    <span class="role">Documentation</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/dan.matthew.17"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=sebastian.danmatthew.deguia1@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <div class="member-img">
                    <img src="../images/meet-the-team/Laroa.jpg" alt="Allyah Laroa"/>
                </div>
                <div class="member-info">
                    <h3 class="name">Allyah Laroa</h3>
                    <span class="role">Documentation</span>
                    <div class="social-links">
                        <a
                                href="https://www.facebook.com/allyahlaroa.0127"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=laroa.allyah.montalbo@gmail.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-google"></i>
                        </a>
                        <a
                                href="https://github.com"
                                class="social-link"
                                target="_blank"
                        >
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">RentalHub</div>
            <div class="copyright">© 2025 RentalHub. All rights reserved.</div>
        </div>
    </div>
</footer>

<script>
    // Initialize GSAP animations
    document.addEventListener("DOMContentLoaded", () => {
        // Register ScrollTrigger plugin
        gsap.registerPlugin(ScrollTrigger);

        // Animate team members when they come into view
        const teamMembers = document.querySelectorAll(".team-member");

        teamMembers.forEach((member, index) => {
            gsap.to(member, {
                scrollTrigger: {
                    trigger: member,
                    start: "top bottom-=100",
                    toggleClass: "active",
                    once: true,
                },
                delay: index * 0.1,
            });
        });
    });
</script>
