<link rel="stylesheet" href="/css/index.css">
<link rel="web icon" type="png" href="/images/webicon.png">
<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo">
            <span class="brand">Rental<span class="highlight">Hub</span></span>
        </div>
        <ul class="nav-links">
            <li id="auth-status">
            <% if (isAuthenticated) { %>
                <a href='/logout' id='logout-link'>Logout</a>
            <% } else { %>
                <a href='/login'>Login</a>
            <% } %>
            </li>
        </ul>
    </nav>
</header>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Dashboard Page</h1>
    </div>
</section>


<!-- JavaScript -->
<script src="/js/script.js"></script>