<nav>
  <a href="/">
    <div class="logo">
      <h1>Rental<span>Hub</span></h1>
    </div>
  </a>
  <ul>
    <li><a href="/shopping/events-and-parties">Shop</a></li>
    <li>
      <a href="/dashboard/listing"
        ><img src="/images/WhiteAdd.png" class="add-icon"
      /></a>
    </li>
    <li>
  </ul>
</nav>